README.md
.gradle
wallet/
build/
./mis-archivos-reales/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**/main/resources/application-local.properties
**/main/resources/application-dev.yml
**/main/java/infrastructure/config/CorsConfig.java
**/main/java/com/ingenium/jyps/config/data/DataInitializer.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
./storage/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
**/src/main/resources/wallet/

### VS Code ###
.vscode/
.env
mis-archivos-reales/1/29fe1520-2807-47a2-b1e5-9ced0b3c5eff_torrano HC.pdf

mis-archivos-reales/1/dee80f84-aa57-4bd3-8024-133ec82caf99_receta.pdf
